<header class="bg-white shadow-md">
  <div class="flex items-center justify-between px-6 py-3">
    <div>
      <a href="/" class="text-2xl font-semibold text-gray-800">Hello, Sumon!</a>
      <p class="text-sm text-gray-500">Today is Tuesday- 25 january, 2025</p>
    </div>
    <div class="flex items-center gap-4">
      <a href="/login" class="text-gray-600 hover:text-gray-900 transition"
        >Login</a
      >
      <a href="/register" class="text-gray-600 hover:text-gray-900 transition"
        >Register</a
      >
      <a
        href="#"
        class="w-8 h-8 bg-[var(--primary)] text-white flex items-center justify-center rounded-full hover:text-gray-900 transition"
        >S</a
      >
    </div>
  </div>
</header>
