<nav class="w-64 bg-[var(--primary)] text-white flex flex-col shadow-lg h-full">
  <div class="text-2xl font-bold p-6 border-b border-white/20">ELMS Admin</div>
  <ul class="flex-1 p-4 space-y-2">
    <li>
      <a
        routerLink="/dashboard"
        routerLinkActive="bg-white/10"
        class="block py-2 px-4 rounded hover:bg-white/10 transition"
        >Dashboard</a
      >
    </li>
    <li>
      <a
        routerLink="/employee"
        routerLinkActive="bg-white/10"
        class="block py-2 px-4 rounded hover:bg-white/10 transition"
        >Employees</a
      >
    </li>
    <li>
      <a
        routerLink="/leaves"
        routerLinkActive="bg-white/10"
        class="block py-2 px-4 rounded hover:bg-white/10 transition"
        >Leave</a
      >
    </li>
    <li>
      <a
        routerLink="/settings"
        routerLinkActive="bg-white/10"
        class="block py-2 px-4 rounded hover:bg-white/10 transition"
        >Settings</a
      >
    </li>
  </ul>
  <div
    class="p-4 border-t border-white/20 text-sm text-white/80 flex items-center gap-5"
  >
    <p>© {{ currentYear }} ELMS</p>
    <button (click)="logout()" class="bg-white px-4 py-2 text-black rounded-sm">
      Logout
    </button>
  </div>
</nav>
