<div class="p-6 bg-white rounded-xl shadow-md">
  <div class="flex items-center justify-between mb-6">
    <div>
      <h1 class="text-2xl font-semibold text-gray-800">Employee Management</h1>
      <p class="text-sm text-gray-500">
        Manage employee details and records here.
      </p>
    </div>

    <button
      class="bg-[var(--primary)] hover:bg-opacity-90 text-white font-medium px-5 py-2 rounded-md text-sm shadow"
    >
      + Add Employee
    </button>
  </div>

  <div class="overflow-x-auto rounded-lg">
    <table class="min-w-full bg-white text-sm">
      <thead
        class="bg-gray-100 text-left text-gray-600 uppercase tracking-wider"
      >
        <tr>
          <th class="px-6 py-3">#</th>
          <th class="px-6 py-3">Name</th>
          <th class="px-6 py-3">Email</th>
          <th class="px-6 py-3">Contact</th>
          <th class="px-6 py-3">Department</th>
          <th class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 text-gray-700">
        @for (item of paginatedEmployees; track $index) {
        <tr>
          <td class="px-6 py-4">{{ $index + 1 }}</td>
          <td class="px-6 py-4">{{ item.employeeName }}</td>
          <td class="px-6 py-4">{{ item.emailId }}</td>
          <td class="px-6 py-4">{{ item.contactNo }}</td>
          <td class="px-6 py-4">{{ item.deptName }}</td>
          <td class="px-6 py-4">
            <button class="text-blue-600 hover:underline mr-2">Edit</button>
            <button class="text-red-600 hover:underline">Delete</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <!--  Pagination Controls -->
  <div class="flex justify-center mt-6 space-x-2">
    <!-- Previous Button -->
    <button
      class="px-3 py-1 rounded bg-gray-200 hover:bg-gray-300 disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="goToPage(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>

    <!-- Page Buttons -->
    @for (page of paginationRange(); track page) { @if (page !== '...') {
    <button
      class="px-3 py-1 rounded"
      [ngClass]="{
        'bg-[var(--primary)] text-white': currentPage === page,
        'bg-gray-100 hover:bg-gray-200': currentPage !== page
      }"
      (click)="goToPage(page)"
    >
      {{ page }}
    </button>
    } @else {
    <span class="px-3 py-1 select-none">...</span>
    } }

    <!-- Next Button -->
    <button
      class="px-3 py-1 rounded bg-gray-200 hover:bg-gray-300 disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      Next
    </button>
  </div>
</div>
